{:paths ["src"]
 :deps {org.babashka/cli {:mvn/version "0.8.67"}
        cheshire/cheshire {:mvn/version "6.1.0"}
        io.github.hive-agi/modex-bb {:git/tag "v0.1.0"
                                     :git/sha "439ff17ea854dce14a3e3963d6c86c5400c72962"}}
 :tasks
 {server {:doc "Start the scc MCP server (babashka)"
          :task (exec 'scc-mcp.server/-main)}}}
