{:paths ["src"]
 :deps {org.babashka/cli {:mvn/version "0.12.91"}
        cheshire/cheshire {:mvn/version "6.2.0"}
        io.github.hive-agi/modex-bb {:git/tag "v0.1.10"
                                     :git/sha "fe8e3056d95889ad6b6bc4eb806b49cb3377f66b"}}
 :tasks
 {server {:doc "Start the scc MCP server (babashka)"
          :task (exec 'scc-mcp.server/-main)}}}
