;; Shareable config — release deps for GitHub distribution.
{:deps {io.github.hive-agi/modex-bb {:git/tag "v0.1.0"
                                     :git/sha "439ff17ea854dce14a3e3963d6c86c5400c72962"}}}
