{:lib      io.github.hive-agi/scc-mcp
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/scc-mcp"
 :src-dirs ["src" "resources"]
 :publish  :clojars}
